---
import AppLayout from '../layouts/AppLayout.astro';
import ContentHome from '../components/Home/ContentHome.astro';
import '../styles/global.css'
---

<AppLayout title="Inicio | Sistema de Control de Inventarios">
    <div class="w-full h-full">
        <ContentHome />
    </div>
</AppLayout>