---
import AppLayout from '../layouts/AppLayout.astro';
import ContentInventory from '../components/Inventory/ContentInventory.astro';
import '../styles/global.css'
---

<AppLayout title="Inventario | Sistema de Control de Inventarios">
    <div class="w-full h-full">
        <ContentInventory />
    </div>
</AppLayout>