---
import AppLayout from '../layouts/AppLayout.astro';
import ContentPurchases from '../components/Purchases/ContentPurchases.astro';
import '../styles/global.css'
---

<AppLayout title="Compras | Sistema de Control de Inventarios">
    <div class="w-full h-full">
        <ContentPurchases />
    </div>
</AppLayout>