---
import AppLayout from '../layouts/AppLayout.astro';
import ContentSales from '../components/Sales/ContentSales.astro';
import '../styles/global.css'
---

<AppLayout title="Ventas | Sistema de Control de Inventarios">
    <div class="w-full h-full">
        <ContentSales />
    </div>
</AppLayout>